  <div class="container">
    <!-- Encabezado de la Empresa -->
    <div class="text-center border-bottom pb-3 mb-3">
      <h2 class="fw-bold">SERARIS S.A.</h2>
      <p>Av San Martín 3965, CABA - 1417</p>
      <p>CUIT: 30-71159765-0 | CUIL: 20314727941</p>
    </div>
  
    <!-- Datos del Empleado -->
    <div class="row mb-3">
      <div class="col-md-6">
        <p><strong>Legajo:</strong> 00</p>
        <p><strong>Apellido y Nombre:</strong> camioneros</p>
        <p><strong>Ingreso:</strong> 01/03/2021</p>
        <p><strong>Ingreso Reconocido:</strong> 13/11/2019</p>
      </div>
      <div class="col-md-6">
        <p><strong>Último Período:</strong> 03/25 - 08/04/24</p>
        <p><strong>Banco:</strong> Banco de Galicia y Buenos Aires</p>
        <p><strong>Categoría:</strong> Conductor 2da Cat.</p>
        <p><strong>Sueldo Básico:</strong> {{ recibo.basico | currency }}</p>
      </div>
    </div>
  
    <!-- Tabla de Conceptos -->
    <table class="table table-bordered text-center">
      <thead class="table-dark">
        <tr>
          <th>Código</th>
          <th>Concepto</th>
          <th>Cantidad</th>
          <th>Remunerativo</th>
          <th>No Remun.</th>
          <th>Retenciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0001</td>
          <td>Básico</td>
          <td>1.0</td>
          <td>{{ recibo.basico | currency }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>0022</td>
          <td>Adicional Rama Logística (14%)</td>
          <td>1.0</td>
          <td>{{ recibo.adicionalRamaLogistica | currency }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>0082</td>
          <td>Feriado</td>
          <td>{{ recibo.diasFeriados }}</td>
          <td>{{ recibo.feriadoMonto | currency }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>0105</td>
          <td>Extras 100% Camioneros</td>
          <td>2.0</td>
          <td>{{ recibo.horasExtrasMonto | currency }}</td>
          <td></td>
          <td></td>
        </tr>
        
        <tr>
          <td>8007</td>
          <td>bonos adicionales</td>
          <td>1.0</td>
          <td></td>
          <td>{{ recibo.otrosConceptos | currency }}</td>
          <td></td>
        </tr>
        <tr>
          <td>9001</td>
          <td>Descuento</td>
          <td>-</td>
          <td></td>
          <td></td>
          <td>{{ totalDescuento | currency }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Totales -->
    <div class="text-end">
      <p><strong>Total Remunerativo:</strong> {{ recibo.basico + recibo.horasExtrasMonto + recibo.adicionalRamaLogistica + recibo.feriadoMonto| currency }}</p>
      <p><strong>Total Neto:</strong> {{ resultado | currency }}</p>
    </div>
  
    <!-- Formulario para Ingresar Datos -->
    <h3 class="mt-4">Ingresar Datos</h3>
    <form (ngSubmit)="calcularRecibo()">
      <div class="row">
        <div class="col-md-4">
          <label for="basico" class="form-label">Sueldo Básico</label>
          <input type="number" id="basico" class="form-control" [(ngModel)]="recibo.basico" name="basico" required />
        </div>
        <div class="form-group">
          <label for="adicionalRamaLogistica">Adicional Rama Logística (14%)</label>
          <input type="number" id="adicionalRamaLogistica" class="form-control"
            [(ngModel)]="recibo.adicionalRamaLogistica" name="adicionalRamaLogistica" readonly />
        </div>

       
      <div class="col-md-4">
        <label for="diasFeriados">Días Feriados</label>
        <input type="number" id="diasFeriados" class="form-control" [(ngModel)]="recibo.diasFeriados" name="diasFeriados" (input)="actualizarValores()"/>
      </div>

      <div class="col-md-4">
        <label for="feriadoMonto">Monto Feriado</label>
        <input type="number" id="feriadoMonto" class="form-control" [(ngModel)]="recibo.feriadoMonto" name="feriadoMonto" readonly />
      </div>

      <div class="col-md-4">
        <label for="horasExtras100">Horas Extras 100%</label>
        <input type="number" id="horasExtras100" class="form-control" [(ngModel)]="recibo.horasExtras100" name="horasExtras100" (input)="actualizarValores()"/>
      </div>

      <div class="col-md-4">
        <label for="descuento" class="form-label">Descuento (%)</label>
        <input type="number" id="descuento" class="form-control" [(ngModel)]="descuento" name="descuento" (input)="calcularRecibo()" />
      </div>

        <div class="col-md-4">
          <label for="otrosConceptos" class="form-label">Bonos no remerativo</label>
          <input type="number" id="otrosConceptos" class="form-control" [(ngModel)]="recibo.otrosConceptos" name="otrosConceptos" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Calcular</button>
    </form>
  </div>
  


  